<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link href='/stylesheets/style.css' rel='stylesheet'/>
</head>

<body>
  <header>
  </header>
  <nav>
    <a class="logo" href="#">Logo</a>
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">AboutUs</a></li>
    </ul>
  </nav>
  <section class="banner">
  </section>
  <section class="descript">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      <br />
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nulla. In nec quam enim. Duis a dolor a sem facilisis pretium. Praesent massa mauris, rutrum sed pretium a, varius vitae erat. Curabitur id consectetur erat. Morbi feugiat fermentum leo, posuere feugiat massa fringilla in. Nulla nisl ligula, facilisis sit amet luctus non, pharetra id lorem. Sed felis mi, viverra a velit eget, mattis placerat mi. Vivamus eleifend, sem ac luctus congue, purus sapien commodo arcu, quis suscipit magna ante quis dui. Fusce non fringilla ante.<br />

		  Donec magna massa, feugiat quis massa nec, posuere bibendum metus. Donec odio ligula, dapibus eu ornare vel, tincidunt ut erat. In consequat consectetur ipsum iaculis maximus. Vestibulum tincidunt risus id tempus tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean nec turpis dapibus, vehicula elit aliquet, aliquam dolor. Curabitur vel cursus risus.<br />

		  Nam quis lorem aliquam nisl ultricies accumsan. Curabitur eu dui volutpat, accumsan urna et, laoreet massa. Ut sollicitudin diam elit, sit amet ultricies diam fermentum nec. Aliquam at augue sit amet magna hendrerit maximus vitae vel mauris. Sed vel metus consequat, molestie nibh ac, efficitur arcu. Etiam mattis maximus felis quis rutrum. Nullam ornare eros malesuada nunc lacinia maximus. Fusce erat leo, fermentum a velit a, iaculis lacinia arcu. Pellentesque hendrerit odio ut volutpat sagittis. Nulla facilisi. Vestibulum consequat aliquet volutpat. Nunc tortor massa, dapibus vel accumsan sit amet, sagittis sit amet ligula. Praesent lobortis felis fringilla quam tempor, non interdum tortor tempor. Suspendisse interdum lacus quis venenatis rutrum. Curabitur fringilla leo dolor, nec ultrices nibh eleifend blandit. Pellentesque feugiat leo tortor, vel posuere arcu lacinia vitae.<br />

		  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec laoreet turpis ut ex faucibus, quis ullamcorper velit ultrices. Vestibulum dictum hendrerit ligula, quis gravida mi malesuada a. Fusce at felis sed lorem interdum fermentum. Pellentesque semper posuere condimentum. Nunc congue, turpis id feugiat ultrices, leo tortor sodales felis, nec rutrum tellus massa nec lacus. Mauris dui lacus, aliquam eu sapien luctus, ultrices tincidunt ante. Nulla id varius odio. Cras vestibulum molestie urna, nec commodo augue fringilla sit amet.<br />

		  Vestibulum blandit tincidunt pellentesque. Donec efficitur nulla non massa pretium luctus. Vestibulum tempor convallis libero nec accumsan. Duis mattis nulla sagittis diam cursus eleifend. Nullam efficitur, libero et venenatis aliquet, dolor lectus pellentesque erat, eu semper tortor nibh in enim. Vivamus sed turpis eget nunc pharetra consequat. Morbi nisl nisi, ullamcorper vitae interdum eu, tempus malesuada velit. Vestibulum nec gravida elit, et cursus purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.<br />
	  </p>
  </section>
  <script type="text/javascript">
    window.addEventListener("scroll", function() {
      let header;
      header = document.querySelector("nav");
      let b = header.classList.toggle("sticky", window.scrollY > 0);
    });
  </script>
  <footer>
  </footer>
</body>

</html>
